package cn.huanzi.qch.springbootmybatisplus.$!{cfg.abc}.service;

import cn.huanzi.qch.springbootmybatisplus.$!{cfg.abc}.entity.${entity};$!{cfg.abc}.entity.${entity}Vo;

/**
 */
public interface ${table.serviceName}  extends CommonService<${entity}Vo,${entity}> {

}